header img {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
}

.image-container {
    width: 12.5;
    margin: 0 auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}